body {
    background-color: #581845;
    padding: 0;
    margin: 0;
  }


  #game-board div {
    display: flex;
    flex-direction: row;
  
  }

  div {
      max-height: 15%;
      max-width: 15%;
      border: 5px solid black;
  }
  
  #game-board img {
      width: 100%;
      height: 100%;
  }