body {
    background-image: url('../imgs/flower.jpg');
    padding: 0;
    margin: 0;
  }


  #game-board {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  div {
      overflow: hidden;
      max-height: 300px;
      max-width: 300px;
  }
  
  #game-board img {
      width: 100%;
      height: 100%;
  }